<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

	<div th:if="${message}">
		<h2 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h2>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/file">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" accept="text/csv" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

</body>
</html>
