<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>REGON finder</title>
    <link rel="stylesheet" type="text/css" href="/home_style.css" />
    <script src="webjars/jquery/2.2.4/jquery.min.js"></script>
</head>
<script>
/*<![CDATA[*/
        $(document).ready(
        function() {

            $('#voivodeships').change(
            function() {

                $('#communes')
                    .find('option')
                    .remove();

                $('#places')
                    .find('option')
                    .remove();

                $.getJSON('county', {
                    voivodeshipName : $(this).children(':selected').text(),
                    ajax : 'true'
                }, function(data) {

                    var html = '<option value=""></option>';
                    var len = data.length;

                    for ( var i = 0; i < len; i++) {
                        html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                    }
                    html += '</option>';

                    $('#counties').html(html);
                });

                $('#counties').change(
                function() {

                    $('#places')
                        .find('option')
                        .remove();

                    $.getJSON('commune', {
                        voivodeshipName : $('#voivodeships').children(':selected').text(),
                        countyId : $(this).val(),
                        ajax : 'true'
                    }, function(data) {

                        var html = '<option value=""></option>';
                        var len = data.length;

                        for ( var i = 0; i < len; i++) {
                            html += '<option value="' + data[i].id + '" th:field="*{placeName}">' + data[i].name + '</option>';
                        }
                        html += '</option>';

                        $('#communes').html(html);
                    });
                });

                $('#communes').change(
                function() {

                    $.getJSON('place', {
                        voivodeshipName : $('#voivodeships').children(':selected').text(),
                        countyId : $('#counties').val(),
                        communeId : $(this).val(),
                        ajax : 'true'
                    }, function(data) {

                        var html = '<option value=""></option>';
                        var len = data.length;

                        for ( var i = 0; i < len; i++) {
                            html += '<option value="' + data[i].id + '">' + data[i].name + '</option>';
                        }
                        html += '</option>';

                        $('#places').html(html);
                    });
                });

                $('#places').change(
                function() {
                    $('#placeName').val($(this).children(':selected').text());
                });
            });

        });
/*]]>*/
    </script>
<body>

	<div class="row">
        <div class="column">
            <h2>Choose the place</h2>
            <form method="POST" action="#" th:action="@{/address}" th:object="${location}">
                <p>
                    <label class="custom-select">Województwo (Voivodeship):
                        <select id="voivodeships" th:field="*{voivodeshipId}" required="required">
                            <option value="Select voivodeship"></option>
                            <option th:each="voivodeship : ${voivodeships}" th:value="${voivodeship.id}" th:text="${voivodeship.name}"></option>
                        </select>
                    </label>
                </p>
                <p>
                    <label class="custom-select">Powiat (County):
                        <select id="counties" th:field="*{countyId}" required="required">
                        </select>
                    </label>
                </p>
                <p>
                    <label class="custom-select">Gmina (Commune):
                        <select id="communes" th:field="*{communeId}" required="required">
                        </select>
                    </label>
                </p>
                <p>
                    <label class="custom-select">Miejscowość (Place):
                        <select id="places" th:field="*{placeId}" required="required">
                        </select>
                    </label>
                </p>
                <input type="hidden" id="placeName" th:field="*{placeName}" required="required" />
                <button type="submit">Search</button>
            </form>
        </div>
	</div>

</body>
</html>
